@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-corona:"Shadows Into Light Two", cursive;
  --font-sticker:"Montserrat", sans-serif;
  --color-cred: #e02627;
  --color-pink: #ff9899;
}